snippet signature "My mail signature"
$0

Thank you,
$1

endsnippet



snippet date "Current date"
`!v strftime("%Y-%m-%d")`
endsnippet

snippet time12 "Current 12 hour time"
`!v strftime("%I:%M:%S %p %Z")`
endsnippet

snippet time24 "Current 24 hour time"
`!v strftime("%H:%M:%S %Z")`
endsnippet



