[submodule "bundle/tasklist"]
	path = bundle/tasklist
	url = git://github.com/vim-scripts/TaskList.vim.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/mexpolk/vim-taglist.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
